header img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid rgb(86 3 255);
    padding: 3.5px;
}
@media (max-width: 500px) {
  header img {
    width: 100px;
    height: 100px;
}
.h{
  font-size: 15px;
}
.contain {
  padding: 20px 10px 20px 10px;
  /* font-size: ; */
}
}

/* 5new last 4 image  */
#shivam img {
    border-radius: 10px;
    border: 2px solid red;
    padding: 4px;
}

#body img {
    border-radius: 5px;
    border: 2px solid blue;
    padding: 4px;
}

#nbody img {
    height: 400px;
    width: 400px;
    border-radius: 100%;
    border: 2px solid red;
    padding: 4px;
}
.nam {
    font-size: 24px;
    margin-left: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    /* border-right: 1px solid red; */

  }

  .nav {
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-left: 2px solid white;
    margin-left: 15px;
    margin-right: 250px;
    color: white;
  }

  .navbar {
    font-family: Arial, Helvetica, sans-serif;
    /* margin-left: 20px; */
  }
  .button {
    font-size: 15px;
    color: grey;
    background-color: white;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
  }

  .button:hover {
    color: black;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .nav a {
    padding: 5px 20px;
    border-radius: 20px;
  }

  a:hover {
    background-color: rgb(249, 248, 252);
    text-decoration: underline;
    /* color: blue; */
    cursor: pointer;
  }
  .handle {
    display: none;
  }
  @media(max-width:1265px) {
    .contain{
      justify-content: center;
    }
  }
  @media (max-width: 900px) {
    .handle {
      display: block;
      font-size: 24px;
      margin-left: auto;
      margin-right: 10px;
      cursor: pointer;
      z-index: 2000;
    }

    .nav,
    .button {
      display: none;
    }
  }

  .handlecont {
    display: none;
    flex-direction: column;
    border: 2px solid black;
    width: 200px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    background-color: white;
    position: absolute;
    top: 60px;
    /* Adjust based on your layout */
    right: 10px;
    z-index: 1000;
  }

  .handlecont span {
    display: block;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

  .handlecont span:hover {
    background-color: #f1f1f1;
  }

  .active {
    display: flex;
  }
